## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
*.dmg
.build/
.swiftpm/
.vscode/
.DS_Store
cache/
dist/

## Custom
products/*
!products/appcast.xml
exportOptions.plist
DistributionSummary.plist
Packaging.log
*.app/
*.zip
*.p8
sparkle_private_key
