//
//  Config.xcconfig
//  OrzMC
//
//  Created by joker on 7/16/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Release Version
MARKETING_VERSION=0.1.2
CURRENT_PROJECT_VERSION=32

// Swift Config
SWIFT_VERSION=6.0
SWIFT_STRICT_CONCURRENCY=Complete
// ---
